.rocket-container {
display: grid;
grid-template-columns: 1fr 3fr;
gap: 1.5rem;
padding-bottom: 1.5rem;
padding: 1rem;
}

.rocket-image img {
width: 100%;
}

.rocket-info {
display: flex;
flex-direction: column;
align-items: flex-start;
} 

.rocket-btn {
background-color: blue;
color: white;
}

.rocket-reservation {
display: flex;
}

.hidden {
    padding-right: 9px;
}