.nav {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid gray;
    margin-bottom: 12px;
}


.log {
  width: 8%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Navlinks {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.Navlinks a {
text-decoration: none;
font-size: 1.2rem;
color: rgb(56, 132, 219);
}

.Navlinks a:hover {
text-decoration: underline;
}

.main-title {
font-size: 2rem;
}